@import url('https://fonts.googleapis.com/css?family=Francois+One|Lato:400,700|Work+Sans:200,400,700,900&display=swap');
@import 'scss/reset';

body,
html {
  overflow-x: hidden;
  min-width: 370px;
}

::-webkit-scrollbar {
  width: 7px !important;
  height: 5px !important;
  background-color: #2a2633 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #3e3481 !important;
}

.fade-page {
  /*max-width: 991px;*/
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
  /*background-color: #000;*/
  opacity: 1;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
}
@import 'scss/text-style';
@import 'scss/navigation';
@import 'scss/content-page';
@import 'scss/slider';
@import 'scss/contact';
@import 'scss/media-w900';
@import 'scss/media-desktop';
