@media (min-width: 900px) {
  .parallax-window {
    width: 60%;
  }
  /*fontsize nav*/
  .menu-overlay-block ul a {
    font-size: 5.5em;
  }

  .menu-other-links a {
    font-size: 1.4em;
  }

  .search-input {
    font-size: 1.4em;
    margin-left: 5px;
  }

  nav {
    height: 100%;
    width: 60px;
  }

  .nav-bar {
    flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: none;
  }

  .nav-title-container {
    display: flex;
    flex-direction: column;
  }

  .nav-title {
    transform: rotateZ(-90deg);
    display: flex;
    justify-content: center;
    width: 200px;
    position: absolute;
    left: -95px;
    font-size: 0.8em;
  }

  .nav-subtitle {
    transform: rotateZ(-90deg);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 200px;
    position: absolute;
    left: -83px;
    font-size: 0.5em;
  }

  .search-nav {
    margin: 0 0 0 40px;
  }
  /*.search-nav svg {
    width: 35px;
    height: 35px;
  }

  .search-button {
    width: 35px;
    height: 35px;
    right: 35px;
  }*/
  .menu-other-links {
    flex-direction: row;
    width: 1000px;
  }
  /*Carousel*/
  .carousel-wrapper .carousel-item .arrow.arrow-prev {
    left: 55px;
  }
  /*Content*/
  .paragraph {
    margin: 0 auto 50px 12%;
    font-size: 1.5em;
    line-height: 25px;
  }

  .rule-bl {
    margin: 0 auto 30px 60px;
  }

  .future-project {
    margin: 0 auto 50px 60px;
  }

  .stats {
    margin: 300px auto 30px 5%;
  }

  .stats h1 {
    margin-bottom: 80px;
    font-size: 9em;
  }

  .stats h5 {
    margin-bottom: 40px;
    font-size: 1.5em;
  }

  .content-motivation section {
    margin: 70px 10% 0 12%;
  }

  .capture-block {
    left: 12%;
  }

  .project img {
    width: 100%;
    height: auto;
  }
  /*Footer*/
  footer {
    flex-direction: column;
    align-items: center;
    min-height: 250px;
  }

  .info {
    flex-direction: row;
    height: 200px;
    width: 80%;
    justify-content: space-between;
  }

  .wrap {
    display: flex;
    align-items: center;
  }

  .border-l {
    width: 100%;
    padding-right: 10px;
    /*border-left: 1px solid black;*/
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(#070e41, 0.82), rgba(31, 21, 105, 0.04)) 1 100%;
    border-bottom: none;
  }

  .border-l:nth-child(3) {
    border-right: 1px solid linear-gradient(#e66465, #9198e5);
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .button-contact {
    width: 150px;
    height: 40px;
    z-index: 5;
    position: absolute;
    right: 5%;
    top: 20px;
  }
  /*Contacts*/
  .h1-for-contact {
    font-size: 3em;
    line-height: 50px;
    text-align: left;
    width: 75%;
    min-height: 300px;
    top: 580px;
  }

  .p-for-contact {
    font-size: 1.5em;
    text-align: left;
    width: 75%;
    min-height: 300px;
    top: 700px;
  }

  .content-contact-form {
    margin: 0 10% 15px 15%;
  }

  .log-row {
    flex-direction: row;
    justify-content: space-around;
  }

  .first-input,
  .second-input {
    width: 50%;
  }

  .second-input {
    border-left: 1px solid hsla(0, 0%, 85%, 0.2);
    padding-left: 10px!important;
  }
}
